[Unit]
Description=MALEBBA service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 MYPATH/malebbad.py
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target

